<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fizzbiznet:{{name}}</title>
    <link rel="stylesheet" href="./../css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    
    <script src="./../js/main.js"></script>
    <link rel="shortcut icon" href="./../images/networking-100.png" type="image/x-icon">
</head>
<body>

    
    <header class="headerContainer">
        <div class="container1">
             <div class="icon" >

                <img src="./../images/FizzBizNet.png" alt="" srcset="" width="100px" height="80px">
            </div>
        <div class="appbar">
           
            <div class="appname"><h1 class="bizTitle">FIZZBIZNET</h1></div>
        </div>

          
        <div class="menu">
            <img src="./../images/icons8-menu (1).svg" class="menuIcon" style="width: 60px;"/>
            
        </div>
        <div class="profileIcon" style="order: 3; padding: 2%;">
            <img src="./../images/user.svg" class="menuIcon" style="width: 40px;"/>
        </div>
    </div>
                
    <div class="menuList">
        <div class="menu">
            <img src="./../images/icons8-menu (1).svg" class="menuIcon" style="width: 60px;"/>
            
        </div>
        <a href="./../profile" class="menuitem"> <img   src="./../images/home.svg" alt="" srcset="" width="30px" style=""> <h4>Home</h4></a>
        <a  class="menuitem" id="showToolbar" href="./../homezapps"> <img   src="./../images/customer.svg" alt="" srcset="" width="30px" style=""> <h4> Product&Services</h4></a>
        <a href="./../home" class="menuitem"> <img   src="./../images/team.svg" alt="" srcset="" width="30px" style=""> <h4>About</h4></a>
        <a href="./../Register" class="menuitem"> <img    src="./../images/add (1).svg" alt="" srcset="" width="30px" style=""> <h4> Register</h4></a>
        <a href="./../login" class="menuitem"> <img   src="./../images/log-in.svg" alt="" srcset="" width="30px" style=""> <h4> SignIn </h4></a>
        <a href="./../logout" class="menuitem"><img   src="./../images/log-out.svg" alt="" srcset="" width="30px" style=""> <h4>SignOut </h4></a>
        </div>


       
       
    </header>
    
       <menu type="toolbar" class="toolbarList">

       
        <div class="toolbar-sub-1" id="searchbar">
            <input type="search" name="searchForService" id="">
        </div>
            <div class="toolbar-sub-1" id="wholesalemenu">WholeSales/Retails <div class="sub-wholesale-menu">
                <a href="/apps/101" >Online Stores</a>
                <a href="/apps/102" >Shopping Centers</a>
            </div></div>
            <div class="toolbar-sub-1" id="lifestylemenu">Life Style
                <div class="sub-lifestyle-menu">
                    <a href="/apps/201" >Photography</a>
                   <a href="/apps/202"  >Hotel/Lounge</a>
                   <a href="/apps/203" >Bars/Liquor Stores</a>
                    <div id="beautymenu" >Beauty
                        <div class="sub-beauty-menu">
                            <a href="/apps/301" >MakeUp Artist</a>
                           <a href="/apps/302" >Saloon/Kinyozi</a>
                            <a href="/apps/303" >Accessories</a>
                           
                                <a href="/apps/304">Clothlines/Shoes</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbar-sub-1" id="technologymenu">Technology
                <div class="sub-technology-menu">
                  <a href="/apps/401">Tech Stores</a>
                   <a href="/apps/402">Web Development</a>
                   <a href="/apps/403">Logo Design</a>
                  <a href="/apps/404">Graphic Design</a>
                  <a href="/apps/405">App Development</a>
                   <a href="/apps/406">Game Development</a>
                    <a href="/apps/407">Video Editing</a>
                </div>
            </div>
            <div class="toolbar-sub-1" id="educationmenu">Education
                <div class="sub-education-menu">
                    <a href="/apps/501">Schools</a>
                    <a href="/apps/502">Tuitors</a>
                </div>
            </div>
            <div class="toolbar-sub-1" id="consultantmenu">Consult/advisor
                <div class="sub-consultant-menu">
                    <a href="/apps/601">Health</a>
                    <a href="/apps/602">Imformation Technology(IT)</a>
                    <a href="/apps/603">Law</a>
                    <a href="/apps/604">Engineering</a>
                   <a href="/apps/605">Architect&Design</a>
                    <a href="/apps/606">Others</a>
                </div>
           
            
        </div>
    </menu>
    
    
    
    <div class="body">
   


<main>
  
<section class="introImage">
<div class="imgCas" id="handShake">
    <div class="introText">
        <h2>Welcome to FizzBiz Network</h2>
        <p>This is a Network of Businesses and Clients</p>

    </div>
    <div class="slideProgressdot">
        <div class="currentSlide">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>
    <div class="otherSlides">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>  <div class="otherSlides">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>  <div class="otherSlides">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>
</div>
</div>
<div class="imgCas" id="techLight">
    <div class="introText">
        <h2>Welcome to FizzBiz Network</h2>
        <p>This is a Network of Businesses and Clients</p>
    </div>

    <div class="slideProgressdot">
        <div class="otherSlides">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>
    <div class="currentSlide">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>  <div class="otherSlides">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>  <div class="otherSlides">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>
</div>
</div>
<div class="imgCas" id="mTechImg">
    <div class="introText">
        <h2>Welcome to FizzBiz Network</h2>
        <p>This is a Network of Businesses and Clients</p>
    </div>

    <div class="slideProgressdot">
        <div class="otherSlides">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>
    <div class="otherSlides">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>  <div class="currentSlide">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>  <div class="otherSlides">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>
</div>
</div>
<div class="imgCas" id="iconImgBack">
    <div class="introText">
        <h2>Welcome to FizzBiz Network</h2>
        <p>This is a Network of Businesses and Clients</p>
    </div>

    <div class="slideProgressdot">
        <div class="otherSlides">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>
    <div class="otherSlides">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>  <div class="otherSlides">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>  <div class="currentSlide">
        <img src="./../images/rec.svg" alt="" srcset="">
    </div>
</div>

</div>

<a href="#howItWork" class="getStartedLink"> Get Started</a>
</section>
<section class="itwork" id="howItWork"> 
<h2 style="font-size: 1.4rem;">How FizBizNet Work</h2>
<div class="userguide">


<div class="custImg">

    <h3> Client/Customer/Buyer Guide</h3>
</div>

    <p>
Tal pericoli cose potremmo l'uomo alla coloro che al, sí fermi di come fermi sí dinanzi, nostri a del primo delle speranza da come della quegli, delle sue né santo pregato suo, mentre mente fa niuno pieno lui, con esso.
    </p>
</div>

<div class="userguide">


<div  class="bussImg">

    <h3> Business/Service/Seller Guide</h3>

</div>
    <p>
Heart the domestic in he love ere and his. Thou his below below vexed then noontide spent, nor nor worse degree light his hall there. Might ever lines ancient feels to, ever for might scarce memory thy mood. Mote land.
    </p>
</div>
</section>
</main>
<footer style="color: aquamarine;">
    <table width="76%" border="0" align="center" valign="bottom" cellspacing="0" cellpadding="0">
        <tr>
        <td id="footer"><small>&copy; 2020 by Winslow Georgos. Proudly created with GeorgosTech.</small></td>
        <td><img src="./../images/twitter.svg" alt="" style="width: 20px;"></td>
            <td><img src="./../images/youtube.svg" alt="" style="width: 20px;"></td>
            <td><img src="./../images/instagram.svg" alt="" style="width: 20px;"></td>
            <td><img src="./../images/facebook.svg" alt="" style="width: 20px;"></td>
        </tr>
    </table></footer>
</div>

</body>
</html>