<table style="margin: opx; padding: 0px; background-color: whitesmoke;width: 100%; ">
<table style="background-color: rgba(241, 231, 231, 0.473); width: 80%; margin: auto;">

    <thead style="margin: 0%; padding: 0%;">
        <tr style="margin: 0%; padding: 2%;">
            <td style="margin: 0%; padding: 2%; color: rgb(255, 138, 5);">Verification Email For Your FizzBizNet Account</td>
        </tr>
        <tr style="margin: 0%; padding: 2%;">
            <td style="margin: 0%; padding: 2%;"> <img src="cid:logoimg" alt="" srcset="" style="width: 100%; height: 180px;"> </td>
        </tr>
    </thead>
    <tbody style="margin: 0%; padding: 0%;"></tbody>
    <tr style="margin: 0%; padding: 2%;">

        <td style="margin: 2%; padding: 2%; background-color: rgb(250, 252, 255); color: white; border-radius: 4px; text-align: center;">

            <img src="cid:profileicon" alt="" style="width: 70px; height: 70px; margin: auto;">
        </td>
    </tr>
<tr style="margin: 0%; padding: 2%;">

    <td style="margin: 2%; padding: 2%; background-color: rgb(4, 70, 252); color: white; border-radius: 4px;">
        <p style="text-align: center;">
            Welcome <span style="font-weight: bolder; color: black; font-style: italic;"> {{{name}}}</span> to FizzBizNet.
        </p>
    <p style="color: rgb(255, 255, 255); text-align: center;">
       
        We encourage you to verify your email so as to continue using our services as a fully verified user without limitations. <br> This is for us to avoid fraud / spam email accounts for safety..</p>
    </td>

</tr>
<tr style="margin: 0%; padding: 2%;">
    <td style="margin: 0%; padding: 2%;">
        <p style="color: rgb(83, 81, 81); text-align: center;"> <br> Your Verification code is  <span style="font-size: medium; font-weight: bolder; color: black;">{{{code}}}</span>  <br></p>
        <p style="color: rgb(83, 81, 81); text-align: center;"> Click here to verify <br> <a href="http://localhost:8087/emailverification"><button style="background-color: rgb(12, 247, 12); padding: 2%; width: 90px; border-radius: 4px; border: 2px solid white; color: white;">Verify</button></a></p>
        </td>
</tr>
<tr style="margin: 0%; padding: 2%;">
    <td style="margin: 0%; padding: 2%;">
        <p style="color: rgb(83, 81, 81); text-align: center;"> <br> If you did not register for an account at Fizzbiznet please click here to <a href="/deleteaccount/{{{username}}}"> cancel </a></p>
        </td>
</tr>
    </tbody>
</table>

</table>